
.input-group {
  margin: 13px auto 10px;
  border-radius: 20px;
  max-width: 450px;
  background: #fff;
  border: 1px solid rgba(21, 11, 11,0.3);
  transition: 0.12s;

}
.form-control {
  border: none;
  border-radius: 20px;
  background-color: #fff;
}

.navbar-nav a:hover{
  text-decoration: underline;
  background-color: #BFDCE5;
}
.input-group-text {
  background-color: transparent;
  border: none;
}

.input-group:hover{
  box-shadow: 0px 0px 7px rgba(21, 11, 11,0.3);
}

div .button .btn:hover{
 background-color: #fff;
 box-shadow: 0px 0px 5px #fff;
}

.lnk a{
  text-decoration: none;
}

.lnk a:hover{
  text-decoration: underline;

}
.input-group-text:hover{
  padding: 10px;
  margin: 5px;
  background-color: darkturquoise;
  transition: 0.25s;
  cursor: pointer;
}
